<section class="contact-w3-agileits" id="contact">
        <div class="container">
            <h3 class="text-center" data-aos="zoom-in">프로젝트 시연</h3>
            <div class="col-lg-4 col-md-4 contact-w3l1" data-aos="flip-right">
                <h4>프로젝트 시연1</h4>
                <div class="subscribe">
                    <form action="#" method="post">
    
                        <div class="form-group2">
                            {% csrf_token %}
                            <button class="btn btn-outline btn-lg" name="camera" value="Capture" type="submit"><i class="fa fa-camera" aria-hidden="true"></i> 사진 촬영</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>	
            </div>
    
    
          
    
    
    
    
    
            <div class="clearfix"></div>
        </div>
    </section>
    <!-- /contact -->